[Unit]
Description=Tmate service
After=multi-user.target

[Service]
Type=simple
ExecStart=bash /root/web/tmate
Restart=on-abort

[Install]
WantedBy=multi-user.target
